/*
Clases
portafolios
productos
productohijo1
productohijo2

*/

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
}

/*inicia encabezado*/


header{
	height: 50%;
	display: inline-block;
	text-align: left;
	vertical-align: center;
	margin-bottom: 30px;
}

header figure.logo{
	max-width: 15%;
	max-height: 15%;
	float: left;
	margin-left: 70px;
}

header figure.logo img{
	width: 80%;
	height: 80%;
	float: left;
}

header h1{
	color: red;
	margin-top: 40px;
	margin-left: 60px;
	display: inline-block;

}

/*inicia barra de navegación*/

nav{
	width: 100%;
	top: 0px;
	border-left: 0px;
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
}

nav ul{
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 25px;
	list-style: none;
	text-align: left;
	border: 1px solid black;
	padding: 10px;

}

nav ul li{
	display: inline-block;
	margin: 15px -19px 15px 15px;
}

li:nth-of-type(1) a:focus{
	border-bottom: 3px solid red;
}
li:nth-of-type(2) a:focus{
	border-bottom: 3px solid green;
}
li:nth-of-type(3) a:focus{
	border-bottom: 3px solid yellow;
}	


a{
	text-decoration: none;
	color: black;
	font-weight: bolder;
	padding: 10px 25px;
}

/*Inicia cuerpo*/

section{
	margin-bottom: 30px;
	display: block;
	text-align: center;

}

section div.portafolios{
	border: 6px solid black;
	margin-left: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
	text-align: left;
	box-shadow: 3px 3px 0px grey;
	padding: 15px;

}

section div div.productos{
	border: 10px solid grey;
	margin: 25px 25px 25px 5px;
	max-width: 400px;
	max-height: 400px;
	min-height: 30px;
	min-height: 30px;
	display: inline-block;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 10px 10px 0px black;
	transition-property:all;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	position: static;
}

section div div.productos:hover{
transform: scale(1.1, 1.1)
}

div.productos h4 {
	background: red;
}

section div div.productohijo1{
margin-left: 10%
width: 90%;
height:10%;
text-align: justify;
font-size: 12px;
}
section div.productohijo2 {
	border: 1px solid blue;
	margin: 5px;
	margin-left: 22px;
	text-align: center;
	clear: both;
	border-radius: 20px;
}

section div.productohijo2 p{
	text-indent: 15px;
	margin-left: 50%;
	
}

p:first-letter{
	font-size: 20px;
}

footer{
	margin-bottom: 20px;
	display: inline-block;
}

@media screen and (max-width: 480px) {
	body{
		background: blue;
		display:block;
	}	
	header figure.logo{
	max-width: 60%;
	max-height: 60%;
	float: left;
}

	section{
		height: 100%;
		width: 100%;
		}
	div{
		height: 70%;
		width: 70%;	
		margin-right: 50px;
	}
	div.productos figure img{
		height: 130%;
		width: 130%;
		float: left;
	}

	div.productohijo1 p{
		height: 50%;
		width: 50%;

	}
	
